*{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
    scroll-behavior: 1s;
}

/*-- Homepage Section Design --*/
#banner{
    background: url(images/background2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1{
    padding-top: 2.5%;
    font-size: 100px;
    font-family: 'Yatra One', cursive;
}

.banner-text p{
    padding-top: 5%;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;    
}

.banner-btn{
    margin: 70px auto 0;
}

.banner-btn a{
    width: 160px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 2px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

.banner-btn a span{
    width: 00%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: rgb(117,85,74);
}

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: rgba(117,85,74,0.8);
    z-index:2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
    font-family: 'Bebas Neue', sans-serif;
}

nav ul li a{
    padding:5%
}

nav ul li a:hover{
    border: 2px solid white;
    background: white;
    color: rgb(117,85,74)
}


#words{
    padding-left: 5%;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: rgba(117,85,74, 0.8);
    text-align: center;
    position: fixed;
    right: 30px;
    top: 30px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

@media screen and (max-width:770px){
    .banner-text h1{
        padding-top: 18%;
        font-size: 40px;
    }

    .banner-text p{
        padding-top: 4%;
        font-size: 25px;
    }

}


/*-- ABOUT ME SECTION DESIGN --*/
#about{
    width:100%;
    background: white;
}

.profile-details {
    width: 80%;
    margin: 2.55% auto;
}

.profile-details-right {
    line-height: 1.5;
    text-align: justify;
    font-family: 'EB Garamond', serif;
    vertical-align: top;
}

.profile-details-right h2 {
    font-family: 'Bebas Neue', sans-serif;
}

.fa-li {
    color: rgb(117, 85, 74);
}

.profile-details-left img {
    max-width: 100%; /* Add max-width property */
    height: auto;
    width: auto;
}

@media screen and (min-width: 975px) {
    .profile-details {
        display: flex;
        align-items: flex-start;
        width: 80%;
        margin: 2.55% auto;
    }
    
    .profile-details-section {
        flex: 1;
    }
    
    .profile-details-left {
        padding-right: 2.5%;
    }
    
    .profile-details-left img {
        margin-right: 10px;
        max-height: 400px; /* Adjust max-height as needed */
        vertical-align: top;
        border-radius: 50%;
        border: 5px solid rgb(117, 85, 74);
    }
    
    .profile-details-right {
        line-height: 1.8;
        text-align: justify;
        font-family: 'EB Garamond', serif;
        vertical-align: top;
    }
    
    .profile-details-right h2 {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 30px;
    }
}


/*-- SKILLS SECTIONS --*/
#skills{
    width:100%;
    background-color: rgb(237, 232, 230);
    padding-bottom: 5%;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 80%; /* Full width */
  background-color: rgb(212, 185, 176); /* Grey background */
  margin-left: 10%;
  font-family: 'Agdasima', sans-serif;
  font-weight: bold;
}

.container-title{
    width: 80%;
    margin-left: 10%;
    padding-top: 15px;
    font-family: 'Agdasima', sans-serif;
    font-weight: light;
    font-size: 18px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.percent{
    padding-right: 5%;
}

.html {width: 90%; background-color: rgb(117,85,74);} /* Green */
.css {width: 80%; background-color: rgb(117,85,74);} /* Blue */
.js {width: 65%; background-color: rgb(117,85,74);} /* Red */
.php {width: 60%; background-color: rgb(117,85,74);} /* Dark Grey */



/*-- Resume Section Design --*/
#resume{
    padding-bottom: 50px;
}

.resume{
    width:80%;
    margin: auto;
    font-family: 'EB Garamond', serif
}

.resume ul{
    padding-top: 10px;
}

.resume-section{
    padding-top: 5px;
}

.resume-section-header{
    font-family: 'Kanit', sans-serif;
}

.resume-section-header h2{
    padding-top:10px;
}

.resume-section-content h3{
    font-family: 'Roboto Condensed', sans-serif;
}

#padtop{
    padding-top: 20px;
}

.resume-section-content{
    border-left: 5px solid rgb(117,85,74);
    padding-left: 10px;
}

.resume-section-content p{
    line-height: 1.8;
    margin-top: 10px;
}

.date{
    padding: 3px 10px;
    background: rgb(212, 185, 176);
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Ysabeau SC', sans-serif;
}

.resume-section-content ul{
    padding-left: 29px;
}

.resume-section-content em{
    line-height: 1.8;
}



/*-- Portfolio Section Design --*/

#portfolio{
    width:100%;
    background-color: rgb(237, 232, 230);
}

.portfolio-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 5%;
}

.portfolio-item{
    flex-basis: 30%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.portfolio-item img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),rgb(117,85,74));
    opacity: 0;
    transition: 1s;
}

.portfolio-item:hover .overlay{
    opacity: 1;
}

.item-desc{
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%
}

.item-desc p{
    font-size: 14px;
    line-height: 1.8;
}

.portfolio-item:hover .item-desc{
    bottom: 40%;  
    opacity: 1;  
}

.title-text h1{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding-top: 5%;
    font-size: 350%;
}

.title-text hr{
    background: rgb(117,85,74);
    height: 5px;
}

.title-text .text{
    width: 80%;
    margin: 1% auto;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.8;
    text-align: justify;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}

@media screen and (max-width:1500px){
    .portfolio-item{
        flex-basis: 48%;
    }   
    .title-text h1{
        padding-top: 5%;
    }
}

@media screen and (max-width:950px){
    .portfolio-item{
        flex-basis: 100%;
        margin-bottom: 30px
    }   
    .item-desc p{
        font-size: 12px;    
    }
    hr{
        margin: 5px auto;
    }
    .title-text h1{
        padding-top: 5%;
    }
    .title-text .text{
        font-size: 14px;
        line-height: 1.5;
    }
}

/*-- Testimonial Section Design --*/
#testimonial{
    width:100%;
    background-color: white;
}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px rgba(117,85,74, 0.3);
    cursor: pointer;
    transition: transform .5s;
}

.testimonial-col p{
    font-size: 14px;
    line-height: 1.8;
    font-family: 'EB Garamond', serif;
}

.user{
    display:flex;
    align-items: center;
    margin: 20px 0;
}

.user img{
    width: 40px;
    margin-right:20px ;
    border-radius: 3px;
}

.user-info .fa{
    margin-left: 10px;
    color:#27c0ff;
    font-size: 20px;
}

.user-info small{
    color: rgb(117,85,74);
}

.testimonial-col:hover{
    transform: translateY(-7px);
}

@media screen and (max-width: 770px) {
    .testimonial-row .testimonial-col {
        flex-basis: 100%;
    }
}


/*-- Contact Section Design --*/
#contact{
    width:100%;
    background-color: white;
}